$color-primary: #003366;             // Основной цвет (для кнопок, заголовков)
$color-background: #E0E7EF;          // Цвет фона
$color-text-primary: #FBFBFB; // Основной цвет текста
$color-text-secondary: #343434;      // Вторичный цвет текста

$font-family-title: "Poppins", sans-serif; 
$font-family-base: "Roboto", serif;           // Основной шрифт
$font-size-base: 18px;                            // Базовый размер шрифта
$font-size-heading: 24px;                         // Размер заголовков
// $font-size-small: 14px;                           // Размер для вспомогательного текста
$line-height-base: 27px;                           // Межстрочный интервал


$spacing-xs: 4px;         // Очень маленькие отступы
$spacing-sm: 8px;         // Маленькие отступы
$spacing-md: 34px;        // Средние отступы
$spacing-lg: 50px;        // Большие отступы
$spacing-xl: 80px;        // Очень большие отступы

$container-width: 1340px;                // Максимальная ширина контейнера
$container-padding: $spacing-md;         // Отступы внутри контейнера


$breakpoint-xs: 320px;  // Очень маленькие устройства (телефоны в портретной ориентации)
$breakpoint-sm: 576px;  // Небольшие устройства (телефоны в ландшафтной ориентации)
$breakpoint-md: 768px;  // Средние устройства (планшеты)
$breakpoint-lg: 992px;  // Большие устройства (ноутбуки)
$breakpoint-xl: 1200px; // Очень большие устройства (десктопы)
$breakpoint-xxl: 1400px; // Огромные экраны (4K-мониторы)

$myPink: #EE82EE;
$myBlue: #4169E1;
$myGreen: #8FBC8F;
